In [29]:
# Import Dependencies
from bs4 import BeautifulSoup
import pandas as pd
import requests
from splinter import Browser
import time

In [19]:
!which chromedriver

/usr/local/bin/chromedriver

In [9]:
# NASA Mars News
# URL of page to be scraped
nasa_url = 'https://mars.nasa.gov/news/?page=0&per_page=40&order=publish_date+desc%2Ccreated_at+desc&search=&category=19%2C165%2C184%2C204&blank_scope=Latest'

nasa_response = requests.get(nasa_url)
nasa_soup = BeautifulSoup(nasa_response.text, 'html.parser')

In [10]:
# Scrape the NASA Mars News Site and collect the latest News Title and Paragraph Text.
# Assign the text to variables that you can reference later.

# Save the featured article
news_title = nasa_soup.find('div', class_='content_title').text
news_p = nasa_soup.find('div', class_='rollover_description_inner').text
print(news_title)
print(news_p)

Alabama High School Student Names NASA's Mars Helicopter



Vaneeza Rupani's essay was chosen as the name for the small spacecraft, which will mark NASA's first attempt at powered flight on another planet.

In [30]:
# JPL Mars Space Images - Featured Images
# Visit the url for JPL Featured Space Image here
image_url = 'https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars'

# Use splinter to navigate the site and find the image url for the current 
executable_path = {'executable_path': '/usr/local/bin/chromedriver'}
time.sleep(10)
browser = Browser('chrome', **executable_path, headless=False)

In [31]:
browser.visit(image_url)

In [32]:
image_html = browser.html
image_soup = BeautifulSoup(image_html, 'html.parser')

In [33]:
# Find current Featured Mars Image and assign the url string to a variable called featured_image_url.
# Make sure to find the image url to the full size .jpg image.
# Make sure to save a complete url string for this image.
mars_image_url = image_soup.find('a', class_='button fancybox')['data-fancybox-href']
featured_image_url = image_url + mars_image_url
print(featured_image_url)

https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars/spaceimages/images/mediumsize/PIA18904_ip.jpg

In [34]:
# Mars Weather
twitter_url = 'https://twitter.com/marswxreport?lang=en'
executable_path = {'executable_path': '/usr/local/bin/chromedriver'}
browser = Browser('chrome', **executable_path, headless=False)
browser.visit(twitter_url)
twitter_html = browser.html
twitter_soup = BeautifulSoup(twitter_html, 'html.parser')

In [41]:
# Visit the Mars Weather twitter account here and scrape the latest Mars weather tweet from the page
# Save the tweet text for the weather report as a variable called mars_weather
mars_weather = twitter_soup.find_all('p', class_='TweetTextSize TweetTextSize--normal js-tweet-text tweet-text')

for i in mars_weather:
    mars_temp = mars_weather[i].text
    if "InSight" in mars_temp:
        print(mars_temp)
        break

In [42]:
# Mars Facts
# Visit the Mars Facts webpage here and use Pandas

facts_url = 'https://space-facts.com/mars/'
executable_path = {'executable_path': '/usr/local/bin/chromedriver'}
browser = Browser('chrome', **executable_path, headless=False)
browser.visit(facts_url)
facts_html = browser.html 
facts_soup = BeautifulSoup(facts_html, 'html.parser')

In [43]:
# Scrape the table containing facts about the planet including Diameter, Mass, etc.
# Use Pandas to convert the data to a HTML table string.


table = pd.read_html(facts_url)
mars_facts_table = table[0]

In [44]:
mars_facts_table.columns = ["Parameter", "Value"]
mars_facts_table = mars_facts_table.set_index(["Parameter"])
mars_facts_table

                                              Value
Parameter
Equatorial Diameter:                       6,792 km
Polar Diameter:                            6,752 km
Mass:                 6.39 × 10^23 kg (0.11 Earths)
Moons:                          2 (Phobos & Deimos)
Orbit Distance:            227,943,824 km (1.38 AU)
Orbit Period:                  687 days (1.9 years)
Surface Temperature:                   -87 to -5 °C
First Record:                     2nd millennium BC
Recorded By:                   Egyptian astronomers

In [45]:
mars_facts_html = mars_facts_table.to_html()
mars_facts_html

'<table border="1" class="dataframe">\n  <thead>\n    <tr style="text-align: right;">\n      <th></th>\n      <th>Value</th>\n    </tr>\n    <tr>\n      <th>Parameter</th>\n      <th></th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <th>Equatorial Diameter:</th>\n      <td>6,792 km</td>\n    </tr>\n    <tr>\n      <th>Polar Diameter:</th>\n      <td>6,752 km</td>\n    </tr>\n    <tr>\n      <th>Mass:</th>\n      <td>6.39 × 10^23 kg (0.11 Earths)</td>\n    </tr>\n    <tr>\n      <th>Moons:</th>\n      <td>2 (Phobos &amp; Deimos)</td>\n    </tr>\n    <tr>\n      <th>Orbit Distance:</th>\n      <td>227,943,824 km (1.38 AU)</td>\n    </tr>\n    <tr>\n      <th>Orbit Period:</th>\n      <td>687 days (1.9 years)</td>\n    </tr>\n    <tr>\n      <th>Surface Temperature:</th>\n      <td>-87 to -5 °C</td>\n    </tr>\n    <tr>\n      <th>First Record:</th>\n      <td>2nd millennium BC</td>\n    </tr>\n    <tr>\n      <th>Recorded By:</th>\n      <td>Egyptian astronomers</td>\n    </tr>\n  </tbody>\n</table>'

In [46]:
# Mars Hemisphere
# Visit the USGS Astrogeology site here to obtain high resolution images for each of Mar's hemispheres
usgs_url = 'https://astrogeology.usgs.gov/search/results?q=hemisphere+enhanced&k1=target&v1=Mars'
executable_path = {'executable_path': '/usr/local/bin/chromedriver'}

browser = Browser('chrome', **executable_path, headless=False)
browser.visit(usgs_url)

In [47]:
# You will need to click each of the links to the hemispheres in order to find the image url 
# to the full resolution image

# Save both the image url string for the full resolution hemisphere image,
# and the Hemisphere title containing the hemisphere name

# Use a Python dictionary to store the data using the keys img_url and title
# Append the dictionary with the image url string and the hemisphere title to a list

# This list will contain one dictionary for each hemisphere.

usgs_html = browser.html
usgs_soup = BeautifulSoup(usgs_html, 'html.parser')
hemispheres = usgs_soup.find_all('div', class_='description')
hemisphere_image_urls = []

for hemisphere in hemispheres:
    h = hemisphere.find('a')
    href = h['href']
    title = h.find('h3').text
    link = 'https://astrogeology.usgs.gov' + href
    hemi = {'title': title, 'img_url': link}
    hemisphere_image_urls.append(hemi)

In [48]:
hemisphere_image_urls

[{'title': 'Cerberus Hemisphere Enhanced',
  'img_url': 'https://astrogeology.usgs.gov/search/map/Mars/Viking/cerberus_enhanced'},
 {'title': 'Schiaparelli Hemisphere Enhanced',
  'img_url': 'https://astrogeology.usgs.gov/search/map/Mars/Viking/schiaparelli_enhanced'},
 {'title': 'Syrtis Major Hemisphere Enhanced',
  'img_url': 'https://astrogeology.usgs.gov/search/map/Mars/Viking/syrtis_major_enhanced'},
 {'title': 'Valles Marineris Hemisphere Enhanced',
  'img_url': 'https://astrogeology.usgs.gov/search/map/Mars/Viking/valles_marineris_enhanced'}]